<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.homeworkhelp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- XUtils 使用权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 欢迎页 -->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity android:name=".activity.BootPageActivity"/>
        <!-- 登录界面 -->
        <activity android:name=".activity.LoginActivity"/>
        <!-- 主界面 -->
        <activity android:name=".activity.MainActivity"/>
        <!-- 注册界面 -->
        <activity android:name=".activity.RegisteredActivity"/>
        <!-- 修改密码界面 -->
        <activity android:name=".activity.ForgetPasswordActivity"/>
    </application>

</manifest>